<htlm>
    <head>
        <title>Emily Thuy Le - A Django Girls Report</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.04.2018, 14:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Memento Vivere. Remember to live.</p>
        </div>

        <div>
            <p>published: 21.04.28018, 14:25</p>
            <h2><a href="">My second post</a></h2>
            <p>Nothing else matters.</p>
        </div>
    </body>
</html>
